<a href="https://colab.research.google.com/github/Rashed-2004/My_Python-Note-book/blob/main/MR_PYTHON.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Module1_PYTHON-29/04/2005

In [ ]:
# what is pyhton ?
"""1.Python is most emerging,general purposing programming language
   2. Python is high level programming language
   3.Python is a dynamcally typed programming language
   4.Python is object oriented programming language
   5.Python is interpreted programming language """
#what is comment?
#for better understanding of the code we use comments
#comments are 2 types
#1.Single line comment
#2.multiline comment-->double triple quotes(""" """)

In [ ]:
# print "Hello world" in python?
print("Hello world")
#print()--> it is ainbuilt function used to execute and display the result

Hello world

Numerical Data type

In [ ]:
#How many types of Numerical data types/
#there are 3 types
#1.Integer--->int-->a whole number eithe +ve or -ve without decimal point is known as integer
print(20)
print(5)
#find the type for above elements
#type()--- is an inbuilt function used to print the data type of the object
print(type(10))
print(type(5))

20
5
<class 'int'>
<class 'int'>

In [ ]:
#float----> #float---> A whole number either +ve or -ve with decimal point is known as float
print(10.5)
print(-5.5)
#find the type for above elements
print(type(10.5))
print(type(-5.5))

10.5
-5.5
<class 'float'>
<class 'float'>

In [ ]:
#3.Complex numbers----->complex----> A REAL NUMBER withits imaginary part is known as complex number
#imaginary is denoted with letter 'i'---->is known as iota
print(2+5j)
print(6j+3)
print(type(2+5j))
print(type(6j+3))

(2+5j)
(3+6j)
<class 'complex'>
<class 'complex'>

Arthemetic Operators

In [ ]:
#How many types of arthimetic operators do we have in Python?
#There are 7 types of arithemetic operators
#1.Addition----->
print(10+5)
print(type(10+5))

15
<class 'int'>

In [ ]:
#2.Substraction------>
print(10-5)
print(type(10-5))

5
<class 'int'>

In [ ]:
#3.Multiplication ------>
print(2*3)
print(type(2*3))

6
<class 'int'>

In [ ]:
#4.Division------>
print(10/5)
print(type(10/5))
#what is default data type for the division--->why
#some times in divison we may get decimal number in quotient or integers also.So the founder
#(Gudeo Van Rossum) to get the proper quotient data type for division is float

2.0
<class 'float'>

In [ ]:
#5.Modulus--->%----> remainder of the division
print(10%5)
print(type(10%5))

0
<class 'int'>

In [ ]:
#6.Exponential---->**---> to the power off
print(2**3)
print(type(2**3))

8
<class 'int'>

In [ ]:
#7.Floor Division---->//---->also known as integer division
#it ignores the values after the decimal point for a quotient
print(10/3)
print(10//3)

3.3333333333333335
3

In [ ]:
#what is floor value?
#The values before the decimal point is known as floor value
#what is ceil value?
#the next upcoming value for a decimal number where the decimal point is more than 0.5

round()

In [ ]:
#1.round() works only for the decimal numbers
#2.if the decimal point more than 0.5 round() print the next upcoming value--->ceil value
#3.if the decimal point less than 0.5 round() print the floor value
print(round(9))
print(round(5.5))
print(round(5.48))
print(round(1234.46789))
print(round(567.987))
#round() is used print number with specific ndigits
#round(number,ndigits)

9
6
5
1234
568

In [ ]:
print(round(231537.8378844540))
print(round(426.3284747,3))

231538
426.328

In [ ]:
print(round(785.42563,0))
print(round(6589.32947890,5))
print(round(12.59426,4))

785.0
6589.32948
12.5943

In [ ]:
#round(-ve digit)
#variables
#types of errors
#industrial rules to create the variables
#what is dynamically typed programming language
#why python is interpreted programming
#prove python is a case sensitive programming language
#smart ways of writing variables
#input()

30-04-2025

In [ ]:
print(3754.2366325)
print(round(3754.2366325,2))

3754.2366325
3754.24

In [ ]:
print(3754.2366325)
print(round(3754.2366325,-2))
#after decimal point the number become zero

3754.2366325
3800.0

In [ ]:
print(3754.2366325)
print(round(3754.2366325,-3))

3754.2366325
4000.0

In [ ]:
print(3754.2366325)
print(round(3754.2366325,-4))

3754.2366325
0.0

In [ ]:
print(round(827256.723456,-3))

827000.0

In [ ]:
print(round(827256.723456,-4))

830000.0

In [ ]:
print(round(-12345.4567,-3))

-12000.0

In [ ]:
print(round(73424.3452,-5))

100000.0

In [ ]:
print(round(73424.3452,-5))

100000.0

In [ ]:
print(round(2.4999,0))

2.0

Variables

In [ ]:
#what is a variable?
#variables are containers where we can store our valuable information/data to reuse it
#How can we create a variable and how can we access the data from variables?
a = "Hello world!"
print(a)
print(type(a))

Hello world!
<class 'str'>

In [ ]:
#what is a variable?
#variables are containers where we can store our valuable information/data to reuse it
#How can we create a variable and how can we access the data from variables?
a = "Hello world!"
print(a)
print(type(a))

Hello world!
<class 'str'>

Types of errors

In [ ]:
#How many types of errors do we have in Python?
#there are 2 types of errors
#1.Syntax Error:-when you break rules of a programming language it can rise syntax error
'''hello I am using
multiline comment when we use single triple quotes
we need to enclose with single quotes"""
#2.logical Error:-except syntax error all the errors comes under logical errors
print(10* *5)
#ex:- indentation errors,Name error, Type error, attribute error, recurssive error....etc

# Rules to create variables

In [ ]:
#1.start creating the variables by using alphabets
son = 20
print(son)

20

In [ ]:
#2.dont start creating the variable by using numbers
2 = "hello"
print(2)

In [ ]:
#3.If you follow rlue1 and rule 2 start with alphabets in between us numbers
son2age = 20
print(son2age)

20

In [ ]:
#4.dont use special characters in the variable name--->!,@,#,$,%,^,&,*,?,white space
son@age = 20
print(son@age)

In [ ]:
#5.start creating the variable by using under score __
_ = 10
print(_)

10

In [ ]:
#instead of space use the underscore
son_age = 20
print(son_age)

20

In [ ]:
#6.Dont use the inbuilt keywords in the variable name
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [ ]:
#7.we cannot encourage to write a variable name in uppercase letters
SONAGE = 30
print(SONAGE)

30

In [ ]:
# object oriented programming means each LOC(LINE OF CODE) having own identity own properties own interaction based on three ways the object is belongs to certain category of class

Python is a dynamically typed programming language

In [ ]:
#we no need to define the datatypes to the variables in the python
#python can read the data automatically by itself
a = 10
print(type(a))
b = "How"
print(type(b))

<class 'int'>
<class 'str'>

Python is a interpreted programming language

In [ ]:
#python execute the code step by step and last line of values can be taken into consideration
a = 20
b = 40
a = 15
b = 20
print(a+b)

35

Python is a case sensitive programming language

In [ ]:
c = 10
print(C)

Smart ways of writing variables

In [ ]:
#1.assign multiple value to multiple variables and printing separate line?
# hint:take three variables and assign values
a = 10
b = 20
c = 30
print(a,b,c)

10 20 30

In [ ]:
a,b,c = 10,20,30
print(a,b,c, sep='\n') # if you to print separate line use sep='\n' operater

10
20
30

In [ ]:
#Assign the same value to the variables and print in sep line
a = b = c = 10
print(a,b,c, sep=',')

10,10,10

In [ ]:
a = b = c = 10
print(a,b,c)

10 10 10

01-05-2025

input()

In [ ]:
#what is input?
#input() is a inbuilt function where it can intakes any kind of information or value and store it
#How can we create the input()?
#by assigning to a variable
a = input('Enter your Name: ')
#HOow can we access the information from input()?
print(a)

In [ ]:
#take 2 input functions and apply addition on it
a = input('enter num1: ')
b = input('enter num2: ')
print(a+b)
#Note:- The default data type for input() is strings
#adding of two strings is known as concatenation

enter num1: 245
enter num2: 204
245204

In [ ]:
#How can we deal with numerical data when we use input()?
#before the input() we need specify the particular numerical data type, int or float
a = int(input('enter num1: '))
b = int(input('enter num2: '))
print(a+b)

enter num1: 258
enter num2: 96
354

In [ ]:
a = float(input('enter num1: '))
b = float(input('enter num2: '))
print(a+b)

enter num1: 32.1
enter num2: 74.2
106.30000000000001

Strings

In [ ]:
str1 = ("PYnativ")
print(str1[1:4], str1[:5], str1[4:], str1[0:-1], str1[:-1])

Yna PYnat tiv PYnati PYnati

In [ ]:
strOne = str("pynative")
strTwo = "pynative"
print(strOne == strTwo)
print(strOne is strTwo)

True
True

In [ ]:
myString = "pynative"
stringList = ["abc", "pynative", "xyz"]

print(stringList[1] == myString)
print(stringList[1] is myString)

True
True

In [ ]:
    #what is Strings?
#string is collection of multiple characters where each characters can be accessible
#How can we declare string?
#a string declared by using(" ") or (' ')
#How many types of strings do we have?
#There are 2 types
#1.single line string--->" " or ' '
#2.multiline string---->"""double triple quotes """ or '''single triple quotes'''

In [ ]:
print("Hello world!")
a = """Hi
       Good day!
       Today session is about strings"""
print(a)

Hello world!
Hi
       Good day!
       Today session is about strings

In [ ]:
#How can we access the characters from the string
#by using indexing and slicing operator---->[]
#what is indexing?
#positional number character in the string
#the indexing can be starts from zero
#The process of accessing a range of characters from string is known as slicing
#The range of characters from the main string is known as sub-string

In [ ]:
a = "Hello world!"
#from the above string print letter 'w'
#syntax:- [index number]
print(a[6])
#print letter 'd'
print(a[10])

w
d

In [ ]:
#access the range of characters from above string print only "hello"
#syntax :- [start:end_index] ----> always give the end_index can be ---->n+1
print(a[0:4])
#

Hell

In [ ]:
b = "Hello world!"
print(b[6:12])

world!

In [ ]:
c = "hello good evening!"
#print "good"
print(c[6:10])

good

In [ ]:
d = "Hello world!"
#from above string print the characters at the even inde position number
#syntax---->[start:end:step]
print(d[0:12:2])
#from above string print the odd index position characters.
print(d[1:12:2])
#print the last character of the string
print(d[11])

Hlowrd
el ol!
!

In [ ]:
#what is negative indexing?
#accessing the range of characters in reverse direction by using -ve indexing
#negative indexing starts with -1
a = "Hello guys accessing the range of characters in reverse direction"
#syntax:- [-ve_index]
print(a[-1])

n

In [ ]:
#access the range of characters in reverse direction--- for ex access 'world!'
#expect_output:- !dlrow
#syntax:- [start-ve index:end-ve index]
a = "Hello world!"
print(a[-1:-7:-1])
print(a[6:12])
#Because the default slicing direction is from left to right
#if you want to reverse a string we need define the step_index as -1

!dlrow
world!

In [ ]:
#find the length of the below string?
d = "Hello world!"
print(len(d))
#len starts from 1

12

Default indexing

In [ ]:
a = "Hello World!"
print(a[:])
print(a[0:len(a)])
print(a[::2])
print(a[1::2])

Hello World!
Hello World!
HloWrd
el ol!

In [ ]:
#check the string whether it is palindrome or not
b = input("enter the string :")
print(b[::-1])

enter the string : mohammed
 demmahom

02-05-2025

String Methods

In [ ]:
#what is string method/ waht are all methods we can apply on string?
# The methods applied on string is known as string methods
# if i want to use all methods of a string use -->dir() directory function
a = "Hello world"
print(type(a))
print(dir(a))
#<class 'str'>
'__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__',
 '__getitem__', '__getnewargs__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__',
'__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__',
  'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal',
   'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'removeprefix',
 'removesuffix', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill'

<class 'str'>
['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'removeprefix', 'removesuffix', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

In [ ]:
# Tell me a 10 improtant string methods ?
print()
type()
int()
float()
complex()
input()
dir()

In [ ]:
a = "hello World!"
#capitalize():- it coverts 1st letter capital
print(a.capitalize())

Hello world!

In [ ]:
# 2.upper():- convert the whole string in uppercase
a ="Hello World"
print(a.upper())

HELLO WORLD

In [ ]:
#3.lower():- it converts the string into lower case
print(a.lower())

hello world!

In [ ]:
#4.title():- converts 1st letter of string into capital letter after every white space
print(a.title())

Hello World!

In [ ]:
#5.replace(old,new):- replace the old string with new string
# replace the "world" to universe and print "hello Universe"
b ="Hello world"
print(b.replace('world','universe!'))

Hello universe!

In [ ]:
#6.strip:-removes the unwanted spaces from leading and trailing side of a string
c = "     Hello World!"
print(c)
print(c.strip())

     Hello World!
Hello World!

In [ ]:
#7 lstrip():-removes the space from the left side of the string
print(c.lstrip())

#8.rstrip():-removes the spaces from right side
print(c.rstrip())

Hello World!
     Hello World!

In [ ]:
#9 find():-finds the index number of character in the string
d = "Medha edu-Tech"

In [ ]:
#10 .index():- finds the index number of character in the string
print(d.index('c'))
print(d.find('z'))
#Q) what is the difference between index() vs find()?
# in find() method if the character is not present means it return -1
#where as in index() if the character is not present means it rise an error

12
-1

In [ ]:
a = "Hello World!"
print(a.find('l'))
# how get the index position of all the characters in string

2

In [ ]:
#swapcase():- converts the upper into lower and lowerinto upper
b = 'Medha Edu-Tech'
print(b.swapcase())

mEDHA eDU-tECH

In [ ]:
#11.zfill():- fill the zeroes infront of the string to match the length of argument
print(b.zfill(20))

000000Medha Edu-Tech

String Format methods

In [ ]:
#f'string {format} method:-
#it takes  an argument and place it over the place holder
age = 10
text = f'my age is {age} years old'
print(text)

my age is 10 years old

In [ ]:
item = input("Enter your item name: ")
quantity = int(input("enter quantity: "))
price_each = float(input("enter price of each: "))
notify = f"""Your order for {item} is confirmed with an quantity of {quantity} and Total price is {price_each*quantity}"""
print(notify)

Enter your item name: Mutton Biryani
enter quantity: 7
enter price of each: 150
Your order for Mutton Biryani is confirmed with an quantity of 7 and Total price is 1050.0

sub-slicing

In [ ]:
 print(round(123.456,-1))

120.0

In [ ]:
s = 'OpenAI'
print(s[1:6][-1 ::-2])

Inp

05-05-2025

In [ ]:
 # what is condition?
 # if --> elif-->else
 # having more than two condition we use elif
 user_marks = int(input("enter your marks "))
 if user_marks >=45:
  print("congratulation")
  print("you have pass")
 else :
    print("Better luck next time ")

enter your marks 80
congratulation
you have pass

In [ ]:
#write a program if the num is >0 print +ve result else print -ve. if the num is equal to zero point neutral
#if---elif---else
num = int(input("Enter number: "))
if num>0:
  print("Positive +ve ")
elif num==0:
  print("Neutral")
else:
  print("Negative -ve ")

Enter number: -252
Negative -ve

In [ ]:
#how can we check the condition?
#comparison operators or relational operators
#1.equlal's too---> "="
#2.not equal too--->"!="
#3.greater than---> >
#4. less than ---> <
#5. greater than or equal too ---> >=
#6. less than or equal too--> <=

In [ ]:
#logical operators ---> 3 types
#And- if all the conditions are true than only execute the program
#logical operators ---> 3 types
#And- if all the conditions are true than only execute the program
#or- if any one condition is true execute program
#not: it reverse your actual output
print(10==10)
print(10==25)
print('H'=='h')
print(not(10==10))

True
False
False
False

In [ ]:
a = 25
b = 10
c = 15
d = 60
#check a>c and d>b and c<b
if a>c or d>b or c>b:
  print("all the statements are true")
else:
  print("any one statement is wrong")

all the statements are true

08-05-2025

Conditional statements

In [ ]:
#conditional statements: is used to check specific condition is ssatisfied or not

In [ ]:
#To build decision making codes  we use conditional statements
#How can we check a condition?
#to check the condition we need to use comparison operators
#There are 6 comparison operators
#1.equlal's too---> ==
#2.not equal too---> !=
#3.greater than---> >
#4. less than ---> <
#5. greater than or equal too ---> >=
#6. less than or equal too--> <=

In [ ]:
#How many conditional statements do we have?
#3 conditional statement
#if--->elif---->else
#what is if?
#if i want to check a single true condition will use 'if'
#what is else?
#other than if condition or if the

In [ ]:
#check the 10 is greater than 5 or not
a = 10
if a>5:
  print("True")
else:
  print("False")

True

In [ ]:
#check a string is palindrome or not irrespective of letter case
print('hello' == 'hello')
print('Hello' == 'hello')

True
False

Nested conditions

In [ ]:
#1.why we require nested condition? or what is the purpose of nested condition?
#A Block of code can be executed if the previous condition is true
#nested conditions give the series of output
# writting a condition inside the another condition is knowns as nested condition
# if we want a series of output we use nested condition

In [ ]:
a = 35
#check this num is greater than 10,20,30,40 and 50
#iff the a>10---> 35 is greater than 10
#iff the a>20---> 35 is greater than 20
#iff the a>30---> 35 is greater than 30
#iff the a>40---> 35 is greater than 40
#iff the a>50---> 35 is greater than 50
if a>10:
  print('a is greater than 10')
  if a>20:
    print('a is greater than 20')
    if a>30:
      print('a is greater than 30')
      if a>40:
        print('a is greater than 40')
        if a>50: #removed extra indentation here
          print('a is greater than 50')
        else:
          print('a is less than 50')
      else:
        print('a is less than 40')
    else:
      print('a is greater than 30') #this line also has logic error and should be 'a is less than 30'
  else:
    print('a is less than 20')
else:
  print('a is less than 10')

a is greater than 10
a is less than 20

In [ ]:
#conditional statements ---> if-->elif--->else
#comparison operators is also known as relational operators--->6 types, ==,!=.>,<,>=,<=

Ternary Operator

In [ ]:
x = 5
result = "even" if x%2==0 else "odd"
print(result)

odd

In [ ]:
a = "Hello good morning"
#check "good" is present in above string
if "good"

In [ ]:
#write a program to check eligible for vote or not
#greater than or equal to 18years

In [ ]:
#write a program to check the grades of the students based on the received marks
#if the student is having marks from 40 to 60---> print "D" grade along with marks
#if the student is having marks from 61 to 70---> print "c" grade along with marks
#if the student is having marks from 71 to 80---> print "B" grade along with marks
#if the student is having marks from 81 to 90---> print "A" grade along with marks
#if the student is having marks from 91 to 100---> print "A+" grade along with marks
#if the sudent is having marks than 100 print "Dont be smart"
#if the student is having marks less than 40 print "Better luck next time"
#Use tha nested if condition along with elif.

In [ ]:
a= 2**(3**2)
print(a)

512

In [ ]:
a= 2**3**2
print(a)

512

In [ ]:
a= (2**3)**2

print(a)

64

#12-05-2025

LOOPS

In [ ]:
#loop: set of instructions or rules
#1.while loop:runs a set of instructions until the condition remains true
#2.For loop:

In [ ]:
#write a program to count down the pushups
target = int(input())
initial = 0
while initial <= target:
  print("go up")
  print("go down")
  print("======rep completed======",initial)
  initial = initial + 1

5
go up
go down
======rep completed====== 0
go up
go down
======rep completed====== 1
go up
go down
======rep completed====== 2
go up
go down
======rep completed====== 3
go up
go down
======rep completed====== 4
go up
go down
======rep completed====== 5

In [ ]:
#write a simple program to run a lift?
user = int(input("Enter your floor: "))
initial = 0
while initial <= user:
  print("you are at floor",initial)
  initial = initial + 1

Enter your floor: 10
you are at floor 0
you are at floor 1
you are at floor 2
you are at floor 3
you are at floor 4
you are at floor 5
you are at floor 6
you are at floor 7
you are at floor 8
you are at floor 9
you are at floor 10

In [ ]:
#what are the control structures of while loop
#break: break will stop the iteration irrespective of code
#continue:
#pass:- null operator when exdecutes nothing will happen

In [ ]:
user = int(input("Enter your floor: "))
initial = 0
while initial <= user:
  print("you are at floor",initial)
  if initial ==5:
    break
  initial = initial + 1

Enter your floor: 7
you are at floor 0
you are at floor 1
you are at floor 2
you are at floor 3
you are at floor 4
you are at floor 5

In [ ]:
user = int(input("Enter your floor: "))
initial = 0
while initial <= user:
  initial = initial + 1
  if initial ==3 or initial ==4 or initial ==7:
    continue
  print("you are at floor",initial)

Enter your floor: 07
you are at floor 1
you are at floor 2
you are at floor 5
you are at floor 6
you are at floor 8

In [ ]:
# print a range of 1 to 10 numbers by  using while ?
initial = 1
while initial <= 10:
  print(initial, end=" ")
  initial += 1

1 2 3 4 5 6 7 8 9 10

In [ ]:
# print a range of 1 to 10 numbers by  using while ?
initial = 10
while initial >= 1:
  print(initial, end=" ")
  initial -= 1

10 9 8 7 6 5 4 3 2 1

In [ ]:
# print a range of 1 to 10 numbers by  using while ?
initial = 0
while initial < 10:
  print("Hello World")
  initial += 1

Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World

#13-05-2025

*** For Loop ***

In [ ]:
# what is for loop ?
# i want to run a set of instruction in my itereable ( collections)--> [list, tuple, set dict, array]
# wher this rule can be applicable for each and every element

In [ ]:
l=[1,2,3,4,5,6,7,8,9]
for i in l:
  if i%2==0:
    print(i)

2
4
6
8

In [ ]:
l=[1,2,3,4,5,6,7,8,9]
for i in l:
  if i%2==1:
    print(i)

1
3
5
7
9

In [ ]:
l=[1,2,3,4,5,6,7,8,9]
for i in l:
  if i%2==0:
    print(i, end = " ")

2 4 6 8

In [ ]:
# how the iteator has built
# with 2 protocols
# _iter__ and __next__

In [ ]:
a = [1,2,3,4,5,6]
#print the multiples of 2 from above list
for i in a:
  print(i*2,end=" ")

2 4 6 8 10 12

In [ ]:
b =['Apple','Banana', 'orange', 'papaya', 'mango ']
for i in b:
  if 'g'in i:
    print(i, end =" ")

orange mango

Control structures of for loop

In [ ]:
# break, continue, pass
#break: it stops the iterations irrespective of items in the collections

In [ ]:
a = [1,2,3,4,5,6,7,8,9]
#break the loop when it reaches '4'
for j in  a:
  if j==4:
    break
  print(j)

1
2
3

In [ ]:
#continue: it skips the current iteration and moves to next iteration
# i don't want to print 2,6,8, from above list
for j in a:
  if j ==2 or j ==6 or j ==8:
    continue
  print(j,end=" ")

1 3 4 5 7 9

In [ ]:
#pass: if the code is incompl
for j in a:
  if j ==2 or j ==6 or j ==8:
    pass

In [ ]:
i = 0
while i <=10:
  print(i, end =" ")
  i = i +1

012345678910

In [ ]:
for i in range(10):
  print(i , end= " ")

0 1 2 3 4 5 6 7 8 9

In [ ]:
for i in range(20,41):
  print(i,end=" ")

20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40

In [ ]:
#print a range of even numbers upto 100?
#syntax:- (start)
for i in range(0,101,2):
  print(i, end=" ")

0 2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98 100

In [ ]:
#print a range of even numbers upto 100?
for i in range(1,101,2):
  print(i, end=" ")

1 3 5 7 9 11 13 15 17 19 21 23 25 27 29 31 33 35 37 39 41 43 45 47 49 51 53 55 57 59 61 63 65 67 69 71 73 75 77 79 81 83 85 87 89 91 93 95 97 99

In [ ]:
# calculate the sum of number from 1 to 10 using for loop?
sum = 0
for i in range (1,11):
  sum = sum + i
print(sum)

55

In [ ]:
 a =[20,30,40,45,63,23,90]
 product = 1
 for i in a :
  product = product*i
  print(product, end=" ")

20 600 24000 1080000 68040000 1564920000 140842800000

In [ ]:
# print the number in reverse from 10 to 1
for i in range (10,0,-1):
  print(i, end=" ")

10 9 8 7 6 5 4 3 2 1

In [ ]:
a = [1,2,45,63,54,76,92,50,60]
large = a[0]
for i in a:
  if i>large:
    large = i
  print(large)

1
2
45
63
63
76
92
92
92

14-05-2025

Collection or Iterables

In [ ]:
# what is collection?
# collection is having 2 types of data Homogenous data and Heterogenous data
#what is Homogenous data?
# collection is having same data type
#ex:- list having integers
# Heterogenous data :- collection is multiple data inside it
# how many type of collection do we have?
# There 4 type
#1.List
#2.Tuple
#3.set
#4.Dictionary

List

In [ ]:
# what is list ? or define a list or how can we declare a list?
# list-->[]
#list can defines as orderd, mutable, nad it allows the duplicate data

 list allows the duplicate data

In [ ]:
l1 = ['Apple','Banana', 'orange', 'papaya', 'mango']
print(len(l1))
print(type(l1))
print(l1)

5
<class 'list'>
['Apple', 'Banana', 'orange', 'papaya', 'mango']

List is Ordered

In [ ]:
#what is ordered means?
#each character in the list is having sequence of index position numbers
#from list l1 print kiwi
#syntax[index]
print(l1[3])

papaya

In [ ]:
#print a range of characters 'pineapple', 'kiwi', 'orange' from l1
#[start:end index]
print(l1[2:5])   #slicing will stops always before one index position number

['orange', 'papaya', 'mango']

In [ ]:
#print the even elements from the list l1?
print(l1[0:9:2])
#print the odd index position character?
print(l1[1:9:2])

['Apple', 'orange', 'mango']
['Banana', 'papaya']

Default indexing

In [ ]:
#what is default indexing?
#by deafuly start is 0, end is length of collection and step is 1
l2 = ['apple','banana','pineapple','kiwi','orange','apple','banana','apple']
#print 5 from above list
# print(l2[8])
# print(l2[:])
# print(l2[::])
print(l2[::2]) #o/p--> all the even elements
print(l2[1::2]) #o/p all the odd elements

['apple', 'pineapple', 'orange', 'banana']
['banana', 'kiwi', 'apple', 'apple']

In [ ]:
#reverse the above list l2
print(l2[::-1])

['apple', 'banana', 'apple', 'orange', 'kiwi', 'pineapple', 'banana', 'apple']

list mutable

when we suppose to say a collection is mutable?

--> if the collection is following 3 properties then it is mutable

1.replace or swap the items

2.add the new item to existing list

3.remove the items from existing list

Replace or swap the items from list

In [ ]:
#How can we replace the items from list?
#By using the index position numbers
l3 = ['java','JS','R','Python','c','c++']
#replace the js with java script
l3[1]='javascript'
print(l3)

['java', 'javascript', 'R', 'Python', 'c', 'c++']

In [ ]:
l3[1:3] = '.net', 'seasharp,' 'nodejs'
print(l3)

['java', '.net', 'seasharp,nodejs', 'Python', 'c', 'c++']

Add the new items to the list

In [ ]:
l4 = ['java','.ner', 'seasharp', 'nodejs', 'Python','c','c++']
#we are some methods to add items to the list
print(dir(l4))
'append', 'clear', 'copy', 'count', 'extend',
'index', 'insert', 'pop', 'remove', 'reverse', 'sort'

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getstate__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [ ]:
#1.append():- by default it add the single element at the end of the list
#q) what is default index position when we use append()?
#end of the list
#add 'mongo DB' in to above list
l4.append('java script')
print(l4)

['java', '.ner', 'seasharp', 'SQL', 'nodejs', 'Python', 'c', 'c++', 'Mongo DB', 'Mongo DB', 1, 2, 3, 4, 5, 'Mongo DB', 'Mongo DB', 'java script']

In [ ]:
#2. insert(index,item):- is used add the item at specific index position
l4.insert(3,"SQL")
print(l4)

['java', '.ner', 'seasharp', 'SQL', 'nodejs', 'Python', 'c', 'c++', 'Mongo DB', 'Mongo DB']

In [ ]:
#3.extend(collection_name):- adds the multiple items in to list
l5 = [1,2,3,4,5]
#add the l5 into l4
l4. extend(l5)
print(l4)

['java', '.ner', 'seasharp', 'SQL', 'nodejs', 'Python', 'c', 'c++', 'Mongo DB', 'Mongo DB', 1, 2, 3, 4, 5]

Remove the items from list

In [ ]:
l6 =['java', '.ner', 'seasharp', 'SQL', 'nodejs', 'Python', 'c', 'c++', 'Mongo DB', 1,2,3,4,5]
print(l6.pop())

5

In [ ]:
print(l6)

['java', '.ner', 'seasharp', 'SQL', 'nodejs', 'Python', 'c', 'c++', 'Mongo DB', 1, 2, 3, 4]

In [ ]:
print(l6.pop(-1))

4

In [ ]:
#remove(item_name):-by using name or idrntity of element it removes the item from list
l6.remove('Mongo DB')
print(l6)
# can i remove the multiple items by using the remove()--> ans : No

['java', '.ner', 'seasharp', 'SQL', 'nodejs', 'Python', 'c', 'c++', 1, 2, 3]

In [ ]:
#how can i remove the multiple items from list l6--> c++', 1, 2, 3
del l6[6 :]
print(l6)

['java', '.ner', 'seasharp', 'SQL', 'nodejs', 'Python']

In [ ]:
l6.index("seasharp")

2

In [ ]:
# remove all the items from above list and return empty list
l6. clear()
print(l6)

[]

In [ ]:
# delete the list
del l6

Sorting of list

In [ ]:
A =['apple','banana','Apple','Banana','Orange','kiwi','mango','pineapple','Watermelon','Chiku']
# sort the above list in ascending orderd
A.sort()
print(A)
# how this sorting can be donr?
#sorting can be done based ASCII

['Apple', 'Banana', 'Chiku', 'Orange', 'Watermelon', 'apple', 'banana', 'kiwi', 'mango', 'pineapple']

In [ ]:
# print in descending order?
l =['apple','banana','Apple','Banana','Orange','kiwi','mango','pineapple','Watermelon','Chiku']
l.sort(reverse= True)
print(l)

['pineapple', 'mango', 'kiwi', 'banana', 'apple', 'Watermelon', 'Orange', 'Chiku', 'Banana', 'Apple']

In [ ]:
l =[32,234,543,656,766,888,34,357,98765]
l.sort(reverse= True)
print(l)

[98765, 888, 766, 656, 543, 357, 234, 34, 32]

In [ ]:
l =[32,234,543,656,766,888,34,357,98765]
l.sort()
print(l)

[32, 34, 234, 357, 543, 656, 766, 888, 98765]

15-05-2025

In [ ]:
# what is tuple? define tuple or how can you declare tuple
# tuple is defined as
# tuple is defined as orderd, imutuablb and it allows duplicate data

Tuple allows the duplicate data

In [ ]:
t1 = (1,2,3,4,5,6,7,8,9,0,20,45)
print(len(t1))
print(type(t1))
print(t1)

12
<class 'tuple'>
(1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 20, 45)

tuple is ordered

In [ ]:
t2 = ('applr','banana','mango', 'Orange','kiwi','mango','pineapple','Watermelon','Chiku')